@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	
}
#construccion{
	bottom:0;
	width:100%;
	font-size:20px;
	position:fixed;
	z-index:1;
	background-color:#CCC;
}
header{
	text-align:left;
	width:100%;
	position:fixed;
	z-index:1;
}
/*menu*/
header nav{
	/*padding:3%;*/
	margin 0 auto;
	background:#222;
	-webkit-box-shadow: 0 5px 35px 0 #2E2E2E;
	box-shadow: 0 5px 35px 0 #2E2E2E;
}
.menu_bar{
	display:none;
}
header nav ul{
	/*overflow:hidden;*/
}
header nav ul li{
	 display:inline-block;
	 padding:3%;
}
header nav ul li a{
color:#fFF;
font-size:24px;
/*padding: 30%;*/
}
header nav ul li span{
	margin-right:10px;
}
header nav ul li a:hover{
color:#999;
}

@media screen and (max-width:800px){
	header nav{
	width:80%;
	height:100%;
	margin: 0;
	left:-100%;
	position:fixed;
	}
	header nav ul li{
		display:block;
		padding:5%;
		float:none;
		border-bottom:1px solid #999;
	}
	header nav ul li a{
	heigh:100%;
	}
	.menu_bar{
	display:block;
	width:100%;
	background:#222;	
	}
	.menu_bar .bt-menu{
		display:block;
		padding:2%;
		font-weight:bold;
		font-size:27px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	.menu_bar span{
		float:right;
	}
}


/*menufin*/
body {
      background: #E2E4E7;
      padding: 0;
      text-align: center;
      font-family: 'open sans';
      position: relative;
      margin: 0 auto;
      width:100%;
	  overflow:scroll;
      -webkit-font-smoothing: antialiased;
    }

/*footer{
	background: #414141;
	position: relative;
	width: 100%;
}*/
	.blueLink{
		color:#90D3FF		
	}
	#showreel{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	margin-top: 5%;
	margin-bottom: 5%;
	padding-top: 25px;
	height: 0;
	}
#showreel iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} 

#English{
	color:#FFF;
	
	bottom:20;
	right:20;
	width: 150px;
    height: 50px;
	background-color:#6F6F6F;
	font-size:18px;
	position:fixed;
	z-index:1;
	-webkit-box-shadow: 4px 4px 20px 1px #000000;
	box-shadow: 4px 4px 20px 1px #000000;
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
}

#English:hover{
	color:#FFF;
	
	bottom:20;
	right:20;
	width: 150px;
    height: 50px;
	background-color:#4E4E4E;
	font-size:18px;
	position:fixed;
	z-index:1;
	-webkit-box-shadow: 4px 4px 20px 1px #000000;
	box-shadow: 4px 4px 20px 1px #000000;
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
}

#English a{
	 width: 150px;
    height: 50px;
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    color: #FFFFFF;
    text-decoration: none;
	
}
/*BarraSocial*/



.boton{
	margin-top:20px;
	width: 70px;
	height: 70px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	display:inline-block;
}
.boton:hover{
	opacity:0.7;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
#Google{
	background-image:url(Images/icons/GP.png);
	background-size:cover;
}
#Facebook{
	background-image:url(Images/icons/F.png);
	background-size:cover;
}
#Sketchfab{
}
#Twitter{
	background-image:url(Images/icons/T.png);
	background-size:cover;
}
#Youtube{
	background-image:url(Images/icons/YT.png);
	background-size:cover;
}
#Linkedin{
	background-image:url(Images/icons/LI.png);
	background-size:cover;
}
#Vimeo{
}

/*FinSocial*/
section{
	width:100%;
	height:100%;
	padding-bottom:10%;
	margin:0 auto;
	-webkit-box-shadow: 0 -10px 30px 0 #2E2E2E;
	box-shadow: 0 -10px 30px 0 #2E2E2E;
}
#home{
	height:auto;
}
#presentacion{
	margin:0 auto;
	padding-top:15%;
	width:70%;
  	
}
.TituloGrande{
	font-family:LeagueGothic-Regular, Anton, Amaranth, sans-serif;
	font-size:40px;
	margin-bottom:5%;
	
}
p{
	padding-top:10px;
}
.TituloMediano{
	font-family:Jura, Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#333;
}
.CajaTexto{

}
a{
	text-decoration:none;
	font-family:LeagueGothic-Regular, Arial, Helvetica, sans-serif;
	color:#fff;
	margin:0 auto;
	height:10%;
}
.link_capacidades{
	color:#D00000;
}
.circle{
	width: 70px;
	height: 70px;
	margin:0 auto;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background:url(https://lh3.googleusercontent.com/-NPlaVIXtmlI/AAAAAAAAAAI/AAAAAAAAACU/LMri7oBMptM/s60-p-rw-no/photo.jpg) no-repeat#000;
	background-size: cover;
}

#home{
	margin:0 auto;
}

.clear:after {
    clear: both;
    content: "";
    display: table;
}
#gallery{
	height:auto;
	text-align:left;
	margin: 0 auto;
	overflow: hidden;
	/*padding-top:10%;*/
	background: #303030;
	
	/*padding-left:5%;*/
}
#subGallery{
	font-family:Jura, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#D00000;
}

.subSkills{
	font-family:Jura, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#333;
}
#Contact{
}
.TituloGrandeLeft{
	padding-top:20px;
	font-family:LeagueGothic-Regular, Anton, Amaranth, sans-serif;
	font-size:40px;
	margin-bottom:5%;
	margin-left:5%;
}
/*modelos y demas*/
.description{
	opacity:0;
	width:100%;
	height:100%;
	/*padding:10px;*/
	color:#222;
	font-family:Jura, Arial, Helvetica, sans-serif;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.description div {
	margin:0;
	padding:0;
	padding-top:10px;
	text-decoration:none;
	font-family:Jura, Arial, Helvetica, sans-serif;
	width:100%;
}
.description:hover{
	font-family:Jura, Arial, Helvetica, sans-serif;
	padding-top:10px;
	margin-top:40px;
	color:#fff;
	width:100%;
	opacity:0.8;
	height:40%;
	background-color:#333;
	
}

#Modelos{
	width:80%;
	margin-left:5%;
	height:auto;
	/*border: 3px solid green;*/
	overflow: hidden;
}

.imagen{
	float:left;
	height:30%;
	width:40%;
	margin-right:5%;
	margin-top:3%;
}
.articulo{
	clear:both;
	margin:0 auto;
	margin-bottom:15%;
}

.ArtContent{
	margin-top: 10px;
	color:#fff;
}

.rojoImagen{
	transition: background-color 0.5s ease;
	width:100%;
	height:100%;
    background-color: rgba(208, 0, 0, 0);
}
.rojoImagen:hover{
  	background-color: rgba(208, 0, 0, 0.5);
}
/*imagenes*/
#uno{
	background:#F00 url(Images/galeria/uno.png) no-repeat;
	background-size:cover;
}
#dos{
	background:#F00 url(Images/galeria/dos.png) no-repeat;
	background-size:cover;
}
#tres{
	background:#F00 url(Images/galeria/tres.png) no-repeat;
	background-size:cover;
}
#cuatro{
	background:#F00 url(Images/galeria/cuatro.png) no-repeat;
	background-size:cover;
}
#cinco{
	background:#Fff url(Images/galeria/cinco.png) no-repeat;
	background-size:cover;
}
#seis{
	background:#F00 url(Images/galeria/seis.png) no-repeat;
	background-size:cover;
}
#siete{
	background:#F00 url(Images/galeria/siete2.jpg) no-repeat;
	background-size:cover;
}


.TituloArt{
	font-family:Jura, Arial, Helvetica, sans-serif;
	font-size:27px;
	color:#D00000;
}

.TituloArt a{
	font-family:Jura, Arial, Helvetica, sans-serif;
	font-size:27px;
	color:#D00000;
}
.TituloArt a:hover{
	text-decoration:underline;
}

/*modelos y demas fin*/
#CajaTextoFloat{
	margin: 0 auto;
	text-align:left;
}





#contact{

}
#TituloContact{
	font-family:LeagueGothic-Regular, Anton, Amaranth, sans-serif;
	font-size:40px;
	padding-top:10%;